@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

:root
{
    --acid-color-accent: #5371FF;
    --acid-color-break: #EFD4C4BE;
    --acid-color-code: #99aaff;
    --acid-color-component: #F98495;
    --acid-color-document: #e25b88;
    --acid-color-logo: #B80F29;

    --acid-color-darkest: #26030A;
}

#-helper-active
{
    &.hint-nav
    {
        background-color: #B80F2966;

        .content { border-top: 2px solid var(--acid-color-accent); }

        &.hover { background-color: #B80F29; }
    }
}

#-helper-button
{
    &:hover:not(:disabled) { color: var(--acid-color-darkest); }
}

#-helper-toggle
{
    &.hint-checkbox
    {
        &.active 
        { 
            background-color: #ffffff99; 
            color: var(--acid-color-darkest);
        }
    }
}

#-main-docsite
{
    &::before { background: #500612; }

    .banner
    {
        padding-top: 3vh;

        .logo
        {
            :global(.helper-link)
            {
                &:hover, &:focus { filter: none; }
            }
        }

        .title { display: none; }

        .version
        {
            color: var(--acid-color-accent);
            font-size: 1.1vw;
            position: absolute;
            bottom: 5vw;
            left: 13vw;
            z-index: -1;
        }
    }
}

#-main-editor
{
    .label { background: #33000077; }
}

#-main-list
{
    &.type-crumbs
    {
        .listitem
        {
            color: var(--acid-color-accent);
        }
    }
}

#-main-markup
{
    :global
    {
        code { color: #C084B6; }

        blockquote
        {
            background-color: #26030A;
            color: #FFFFFFBB;
        }
    }
}

#-main-tag
{
    &.cobe { color: gold; background: black; }
    &.conditional { color: white; background: darkblue; }
    &.custom { color: white; background: green; }
    &.delegate { color: white; background: saddlebrown; }
    &.extra-props { color: white; background: blueviolet; }
    &.inject { color: white; background: blue; }
    &.uses { color: white; background: darkgreen; }
}

#-page-catalog,
#-page-document,
#-page-home,
#-page-section
{
    main .leader .title
    {
        color: var(--acid-color-logo);
        font-family: Lemon, serif;
        letter-spacing: -2px;
        text-shadow: -.5px .5px 0 white, -1px 1px 3px black;
    }
}

#-page-component
{
    main .leader .title { color: #AC5B67; }
}
