@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

:root
{
    --acid-color-accent: #5371FF;
    --acid-color-break: #EFD4C4BE;
    --acid-color-component: #F98495;
    --acid-color-document: #EA1334;
    --acid-color-logo: #B80F29;

    --acid-color-darkest: #26030A;
}

.app-docsite
{
    &::before
    {
        background: #500612;
    }

    .version-info
    {
        color: var(--acid-color-accent);
        font-size: 1.1vw;
        position: absolute;
        top: 7vw;
        left: 13vw;
        z-index: -1;
    }
}

.markup
{
    code
    {
        color: #AC5B67;
    }

    blockquote
    {
        background-color: #26030A;
        color: var(--acid-color-logo);
    }
}

.app-link
{
    &.component span
    {
        color: #E2B3C2;
    }

    &.document span
    {
        color: #E2B3C2;
    }
}
.app-link.region-banner
{
    &:hover, &:focus { filter: none; }
}

.cobe-editor
{
    .label
    {
        background: #33000077;
    }
}

.element-button
{
    &:hover:not(:disabled)
    {
        color: var(--acid-color-darkest);
    }
}

.element-card.region-nav, .element-card.page-index
{
    background-color: #B80F2966;

    .content 
    { 
        border-top: 2px solid var(--acid-color-accent);
    }

    &.hover { background-color: #B80F29; }
}

.element-tag
{
    &.group { color: white; background: green; }
    &.extra-props { color: black; background: silver; }
    &.no-style { color: black; background: yellow; }
    &.page { color: white; background: purple; }
    &.region { color: white; background: blue; }
}

.element-title.region-banner
{
    display: none;
}

.element-title.region-leader
{
    color: var(--acid-color-logo);
    font-family: Lemon, serif;
    letter-spacing: -2px;
    text-shadow: -.5px .5px 0 white, -1px 1px 3px black;
}

.element-title.region-leader.page-component
{
    color: #AC5B67;
    font-family: var(--acid-font-family-text);
    letter-spacing: normal;
    text-shadow: var(--acid-text-shadow-default);
}

.element-toggle
{
    &.role-checkbox
    {
        &.active 
        { 
            background-color: #ffffff99; 
            color: var(--acid-color-darkest);
        }
    }
}

.nav-crumbs
{
    :global
    {
        a
        {
            color: var(--acid-color-accent);
        }
    }
}
