@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://unpkg.com/microns@1.1.4/fonts/microns.css');

:root
{
    --acid-font-family-text: Lato, sans-serif;
    --acid-font-family-code: "Anonymous Pro", monospace;
    --acid-font-family-icon: microns;
    --acid-font-size-cobe: 0.8em;
    --acid-border-radius-default: 16px;
    --acid-box-shadow-default: 1px 1px 5px 1px black;
    --acid-text-shadow-default: 1px 1px 1px black;

    --acid-background-site: #444444;
    --acid-color-component: #98AAFF;
    --acid-color-deprecated: #BA243C;
    --acid-color-break: #ddd;
    --acid-color-document: #94E1FF;
    --acid-color-link: #E2B3C2; /* pinkie */
    --acid-color-text: #EFD4C4; /* almond */
    --acid-color-textie: #EFD4C4BE;
    --acid-color-code: #767cff;

    --acid-caret-color-cobe: #EFD4C4;


    background: black;
    scroll-behavior: smooth;
    min-height: 100vh;
    min-width: 100vw;

    a
    {
        color: var(--acid-color-link);

        &:hover, &:focus { filter: brightness(1.25); }
    }

    body { line-height: 1.5em; }

    button
    {
        background: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;

        &:disabled 
        { 
            cursor: not-allowed; 
            filter: opacity(0.4);
        }
    }

    input
    {
        color: var(--acid-color-textie);        
    }

    .deprecated
    {
        filter: grayscale(0.8);
        text-decoration: line-through; 
        text-decoration-color: var(--acid-color-deprecated);
        text-decoration-thickness: 0.15em;
    }

    .type-nav .type-switch
    {
        text-align: left;
    }

    .type-sector .type-switch
    {
        border-radius: 8px;
        font-size: 120%;
        font-weight: bold;
        padding: 6px 16px;

        &:hover { background-color: #ffffff22; }

        &.active
        {
            &::after { content: ':'; }
        }        
    }
}

*
{
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 200ms ease-out;
    margin: 0;
    padding: 0;
}

#-helper-active
{
    .content 
    { 
        display: none; 
        margin-block: 2px 8px;
    }

    &.active .content { display: block; }

    &.type-nav
    {
        border-radius: var(--acid-border-radius-default);
        box-shadow: var(--acid-box-shadow-default);

        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 8px 32px;

        .content 
        { 
            border-top: 2px solid var(--acid-color-break);
            overflow: hidden;
        }

        &.active { padding: 20px 32px; }

        &.hover { background-color: #ffffff11; }
    }

    &.type-sector
    {
        display: inline-block;

        .content { padding-inline: 32px; }

        &.active { display: block; }

        &.tags .content { padding-block: 16px; }
    }
}

#-helper-button
{
    background: transparent;
    color: var(--acid-color-textie);
    cursor: pointer;
    font-size: 16px;
    display: block;
    padding: 4px 10px;

    &::before
    {
        font-family: var(--acid-font-family-icon);
        padding-right: 4px;
    }

    &:focus
    {
        outline: 2px dotted var(--acid-color-break);
    }

    &:hover:not(:disabled)
    {
        background: var(--acid-color-textie);
        color: #333;
    }

    &.action-clear-filters
    {
        border-radius: 6px;
        margin: 2px;
    }

    &.action-copied::before { content: '\E718'; }
    &.action-clear-filters::before { content: '\E796'; }
    &.action-copy::before { content: '\E78A'; }
    &.action-hide::before { content: '\E734'; }
    &.action-isolate::before { content: '\E748'; }
    &.action-reset::before { content: '\E796'; }
    &.action-show::before { content: '\E733'; }
    &.action-shutter::before { content: '\E747'; }
    &.action-update::before { content: '\E73B'; }
}

#-helper-input
{
    background-color: transparent;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1em;
    box-shadow: inset 0 0 3px 1px #ccc;
    display: block;
    padding: 4px 8px;
    width: 100%;

    &:focus { background-color: #ffffff11; }
}

#-helper-link
{
    line-height: 1.5em;
    
    & span::before
    {
        display: inline-block;
        font-family: var(--acid-font-family-icon);
        margin-right: 4px;
    }

    &.current { font-weight: 700; }

    &.deprecated span::before { text-decoration: none; }

    &.to-component, &.to-document
    { 
        span
        {
            overflow-x: hidden;
            text-overflow: ellipsis;        
            white-space: pre;
        }
    }

    &.to-component span
    {
        color: var(--acid-color-component);

        &::before { content: '\0023' }
    }

    &.to-document span
    {
        color: var(--acid-color-document);

        &::before { content: '\E73A' }
    }

    &.type-annex
    {
        background-color: #33333333;
        border-radius: var(--acid-border-radius-default);
        box-shadow: var(--acid-box-shadow-default);
        font-size: 130%;
        font-weight: 700;
        outline-color: transparent;
        outline-offset: -12px;
        outline-style: solid;
        outline-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px 24px;

        &:hover 
        { 
            outline-offset: -4px;
            outline-width: 4px;
        }

        &.to-component
        {
            color: var(--acid-color-component); 

            &:hover { outline-color: var(--acid-color-component); }
        }

        &.to-document
        {
            color: var(--acid-color-document); 

            &:hover { outline-color: var(--acid-color-document); }
        }
    }
}

#-helper-toggle
{
    &.type-branch
    {
        &::before 
        { 
            display: inline-block;
            border-radius: 100px;
            content: '\E713';
            font-family: var(--acid-font-family-icon);
            line-height: 1.25em;
            width: 1.25em;
            vertical-align: middle;
        }

        &:hover::before, &:focus::before 
        {
            outline: 1px dashed var(--acid-color-text);
            filter: brightness(1.25); 
        }

        &.active::before 
        { 
            content: '\E715';
        }
    }

    &.type-checkbox
    {
        display: flex;
        border-radius: 6px;
        outline-offset: -8px;
        padding: 2px 4px;

        &:hover 
        { 
            outline: 2px dashed var(--acid-color-link); 
            outline-offset: 0;
        }

        &.active 
        { 
            background-color: #ffffffcc; 
            color: #333;
        }
    }
}

#-main-editor
{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 32px 0;
    min-width: 400px;

    &.mode-static
    {
        .controls { order: 2; }

        .entry { order: 1; }
    }

    &.mode-render
    {
        .stage
        {
            background: transparent;
            font-size: 14px;
            padding: 0;
        }
    }

    &.isolated
    {
        width: 65vw;
    }

    .controls
    {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;

        :global
        {
            .helper-button:last-child
            {
                margin-left: auto;
            }
        }
    }

    .entry
    {
        padding: 6px;

        &:focus-within
        {
            outline: 2px dotted var(--acid-color-break);
        }
    }

    .label
    {
        color: var(--acid-color-break);
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 2px 8px;
    }

    .stage
    {
        background: #eee;
        padding: 16px;
        overflow-x: auto;
        width: 100%;

        > .error
        {
            background: red;
            color: white;
            font-family: Monaco, monospace;
            font-size: 16px;
            display: inline-block;
            overflow-x: auto;
            padding: 8px;
            white-space: pre-wrap;

            &::before 
            { 
                content: 'ERROR!\0020';
            }
        }
    }
}

#-main-list
{
    list-style-position: outside;
    list-style-type: none;

    &.type-columns
    {
        columns: 4 300px;

        .listitem
        {
            break-inside: avoid;
            padding: 6px 12px;
        }
    }

    &.type-crumbs
    {
        border-top: 2px dotted var(--acid-color-textie);
        padding: 2px 16px;
        margin-bottom: 16px;

        .delimiter::before
        { 
            content: '\0020\2023\0020'; 
            font-size: 150%;
            font-weight: bold;
            vertical-align: middle;
        }

        li 
        { 
            display: inline; 
            vertical-align: middle;
        }
    }

    &.type-default
    {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;

        .delimiter { &::before { content: '|'; } }
    }

    &.type-dual
    {
        columns: 3 410px;
        column-gap: 48px;
        column-fill: balance;
    }

    &.type-filter-groups, &.type-filter-options, &.type-filter-tags, &.type-tags
    {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    &.type-filter-groups, &.type-filter-options, &.type-filter-tags
    {
        justify-content: center;
    }

    &.type-static, &.type-tree, &.type-toc
    {
        line-height: 1.25em;

        .listitem { margin-block: 0.4em; }

        :global(.main-list)
        {
            margin-left: 1em; 
        }
    }
}

#-main-markup
{
    :global
    {
        code
        {
            color: var(--acid-color-break);
            font-family: var(--acid-font-family-code);
            font-weight: bold;
            display: inline-block;
            padding: 0 2px;
        }

        blockquote
        {
            background-color: #222;
            border-radius: 6px;
            color: var(--acid-color-textie);
            box-shadow: var(--acid-box-shadow-default);
            font-size: 120%;
            margin: 16px 4px;
            padding: 16px 20px;

            *:first-child { margin-top: 0; }

            *:last-child { margin-bottom: 0; }
        }

        em { color: #ddddddee; font-style: italic; }

        h1 { font-size: 2.5em; margin-top: 1.5em; }
        h2 { font-size: 2.2em; margin-top: 1.3em; }
        h3 { font-size: 1.9em; margin-top: 1.1em; }
        h4 { font-size: 1.6em; margin-top: 0.7em; }
        h5 { font-size: 1.4em; margin-top: 0.5em; }
        h6 { font-size: 1.2em; margin-top: 0.3em; }

        .hx 
        { 
            color: var(--acid-color-textie); 
            line-height: 1.5em;

            & + *
            {
                margin-top: 8px;
            }
        }

        hr
        {
            border-bottom: 2px solid var(--acid-color-break);
            height: 1px;
            margin: 48px 0;
        }

        p
        {
            margin: 12px 0;
            padding: 8px;
        }

        pre
        {
            background-color: #333333cc;
            margin: 16px 0;
            padding: 8px;

            > code
            {
                color: #ccc;
                padding: 12px 24px;
            }
        }

        strong 
        { 
            font-weight: 700; 

            strong 
            { 
                color: #ddddddcc; 
                font-size: 125% ; 
            }
        }

        ol, ul
        {
            list-style-position: outside;
            margin: 12px 4px 12px 24px;
            padding: 8px;

            ol, ul { margin: 0 0 0 12px; }
        }

        ul { list-style-type: disc; }

        *:first-child:not(&.type-description *) { margin-top: 0; }

        &.type-deprecation
        {
            padding: 0 8px;

            p { margin: 0; }
        }
        
        &.type-description
        {
            padding: 0 8px;
            
            p { padding: 0; }
        }
    }

    &.type-deprecation
    {
        background-color: var(--acid-color-deprecated);
    }
}

#-main-tag
{
    border-radius: 6px;
    background: var(--acid-color-textie);
    color: #333;
    font-size: 1.1em;
    box-shadow: var(--acid-text-shadow-default);
    display: inline-flex;
    align-items: baseline;
    column-gap: 4px;
    margin: 4px;
    padding: .25em 1em;

    .name { font-weight: bold; }

    span { line-height: 1em; }
}

#-page-catalog,
#-page-component,
#-page-document,
#-page-home,
#-page-isolate,
#-page-section
{
    color: var(--acid-color-text);

    font-family: var(--acid-font-family-text);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.35px;

    padding: 0 1vw;
    height: 100vh;
    width: 100vw;

    &::before
    {
        content: "";
        background: var(--acid-background-site);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    > main
    {
        background-color: #11111122;
        grid-column: 2 / 3;    
        grid-row: 1 / 4;
        overflow-y: auto;
        padding: 1vw 2vw 4vw 2vw;
    }

    > header
    {
        .title
        {
            display: inline-block;
            font-size: max(3.6vw, 1.2em);
            font-weight: 700;
            line-height: 1.5em;
            margin-top: 24px;
            text-shadow: var(--acid-text-shadow-default);
        }
    }
}

#-page-catalog,
#-page-component,
#-page-document,
#-page-home,
#-page-section
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: fit-content(20%) 1fr min-content;

    > header
    {
        grid-column: 1 / 2;  
        grid-row: span 1;
        justify-items: center;
        padding-inline: 1vw 2vw;
        position: relative;
        text-align: center;

        .logo
        {
            width: 85%;
        }
    }    

    > main
    {
        .leader 
        { 
            padding-bottom: 1.25vw;
            margin-bottom: 1.25vw; 

            .title
            {
                display: block;
                font-size: max(3.4vw, 1.8em);
                line-height: 1.5em;
                margin-top: 2vw;
                padding: 2px 0;
                text-shadow: var(--acid-text-shadow-default);
            }
        }

        .content
        {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
    }

    > nav
    {
        grid-column: 1 / 2;
        grid-row: span 1;
        overflow-y: auto;
        padding: 1vw 2vw 4vw 1vw;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .nav-title
        {
            font-size: 125%;
            font-weight: bold;
        }
    }
}

#-page-catalog
{
    .filters
    {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding-top: 16px; 

        .group, .usable
        {
            span { padding: 2px 6px; }
        }
    }
}

#-page-component
{
    main .leader
    {
        border-bottom: 1px dotted var(--acid-color-break);

        .title { color: var(--acid-color-component); }

        .empty { font-style: italic; }

        .prop
        {
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 1px;
            break-inside: avoid;
            padding: 16px 0;

            &.required
            {
                .name::after
                {
                    content: '*';
                    color: #BA243C;
                }
            }

            .default
            {
                background: #ffffff11;
                display: flex;
                align-items: center;
                column-gap: 8px;
                grid-column: 1 / -1;
                padding: 4px 12px;

                code { color: var(--acid-color-code); }

                &::before 
                { 
                    content: 'default:';
                    font-size: 70%;
                    line-height: 1em;
                }
            }

            .depre
            { 
                grid-column: 1 / -1; 
            }

            .desc
            {
                background-color: #ffffff11;
                grid-column: 1 / -1;
                padding: 4px 8px;

                :global(*) { word-break: break-word; }
            
                .empty { font-style: italic; }
            }

            .name
            {
                border-bottom: 2px solid var(--acid-color-break);
                color: var(--acid-color-component);
                font-family: Monaco, monospaced;
                font-size: 130%;
                font-weight: 700;
                grid-column: 1 / 2;
                padding: 4px 12px 0;
                text-shadow: var(--acid-text-shadow-default);
            }

            .type
            {
                border-bottom: 2px dotted var(--acid-color-break);
                font-size: 90%;
                align-self: flex-end;
                grid-column: 2 / 3;
                padding: 0 12px;
            }

            .values
            {
                background: #ffffff11;
                display: flex;
                align-items: center;
                column-gap: 8px;
                grid-column: 1 / -1;
                padding: 4px 12px;

                code { color: var(--acid-color-code); }

                &::before 
                { 
                    content: 'accepts:';
                    font-size: 70%;
                    line-height: 1em;
                }
            }
        }
    }
}

#-page-document
{
    main .leader .title { color: var(--acid-color-document); }
}

#-page-error
{
    background-color: #FFFFFFDD;
    margin: 2vh 2vw;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 96vh;
    
    .message
    {
        color: crimson;
        font-family: var(--acid-font-family-code);
        font-size: 160%;
        line-height: 1.5em;
        width: 70%;
    }

    .name
    {
        background: crimson;
        box-shadow: 1px 1px 3px 0 #555;
        color: #ffffffee;
        font-size: 280%;
        line-height: 1.5em;
        padding: 8px 16px;
        margin-bottom: 2vh;
    }

    .home 
    {    
        margin-top: 4vh;

        a
        {
            background: black;
            border-radius: 1000px;
            font-size: 125%;
            line-height: 1.5em;
            padding: 8px 16px;
        }
    }
}

#-page-isolate
{
    > header
    {
        text-align: center;
    }

    > main
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw 2vw;
    }
}
